
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root{

    /*Cores*/
    --preto-950:#1C1C1D;
    --azul-dark-1000:  #000228;
    --azul-dark-900:   #000336;
    --azul-dark-850:   #0F1B4C;
    --azul-light-450:  #5A6473;
    --azul-light-400:  #4F5361;
    --azul-normal:     #0689FF;
    --cinza-normal-500:#7D8589;
    --branco:          #ffffff;
    --bg-color-1:      #E6F0FF;
    --bg-color-2:      #F5FAFE;
    --bg-color-3:      #063183;

    /*Font-size*/
    font-size: 65.5%;

    /*Container*/
    --container-fluido:110rem;
    
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.container-fluido{
    padding: 0 2rem;
    margin: 0 auto;
    max-width: var(--container-fluido);
}
a{      
    color: var(--azul-light-400);
    display: block;
    text-decoration: none;
}
p{
    color: var(--azul-light-450);
    font-size: 1.5;
}
button{
    background: var(--azul-dark-900);
    border-radius: .4rem;
    color: var(--branco);
    cursor: pointer;
}
h1{
    color: var(--azul-dark-900);
    font-size: 4.5rem;
}
h2{
    color: var(--azul-dark-900);
    font-size: 3.5rem;
}
h3{
    color:var(--preto-950);
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}
h4{
    color: var(--azul-dark-900);
    font-size: 2rem;
}
.menu-mobile{
    display: none;
}


/**********Header**********/
#cabecalho{
    background: var(--bg-color-1);
}
#cabecalho .cabecalho-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  2rem 0;
}
#cabecalho .cabecalho-wrapper .navbar{
    display: flex;
    align-items: center;
    gap: 5rem;
}
#cabecalho .cabecalho-wrapper .navbar > .menu{
    display: flex;
    gap: 2rem;
}
#cabecalho .cabecalho-wrapper .navbar > .menu a{
    font-size: 1.4rem;
}
#cabecalho .cabecalho-wrapper .cabecalho-button .btn-entrar{
    padding: 1rem 1.5rem;
    background: transparent;
    color: var(--azul-dark-900);
}
#cabecalho .cabecalho-wrapper .cabecalho-button .btn-registrar{
    padding: 1rem 1.5rem;
}
.cabecalho-wrapper .cabecalho-chamada p{
    padding: 1.7rem 0;
}
.cabecalho-wrapper .cabecalho-chamada > .btn-sobrenos{
    padding: 1.5rem 3.5rem;
    margin-top: 2rem;
}
.cabecalho-wrapper .cabecalho-img img{
    width: 50rem;
}

/*********Compania*********/
#compania{
    margin-top: 7rem;
}
.avaliacao,
.compania-wrapper,
.como-funciona-guia{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#compania .avaliacao p,
.como-funciona-chamada p{
    font-size: 1.4rem;
}
.avaliacao .avaliacao-wrapper:last-child{
    width: 20rem;
}
.compania-wrapper{
    padding: 8rem 0;
}


/****como-funciona-******/
#como-funciona{
    margin-top: 10rem;
}
.como-funciona-chamada{
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
}
.como-funciona-chamada h2{
    position: relative;
    padding-bottom: 1rem;
}
.como-funciona-chamada h2::before{
    content: "";
    position: absolute;
    width: 5rem;
    height: 0.4rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--azul-dark-1000);
    border-radius: 1rem;
}
.como-funciona-guia {
    max-width: 80rem;
    margin: 10rem auto;
    color:var(--azul-normal);
}


/******Propriedades******/
#propriedades{
    padding: 6rem 0;
    margin-top: 5rem;
    background: var(--bg-color-2);
}
.propriedades-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    margin-bottom: 10rem;
}
.propriedades-wrapper h5,
.card-texto h5{
    color:var(--azul-normal);
}
.propriedades-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.propriedades-card .card{
    max-width: 32rem;
    
}
.propriedades-card .card img{max-width: 100%;}
.card-wrapper{
    padding: 2rem;
    background-color: var(--branco);
}
.card-texto p{
    font-size: 1rem;
    padding: 1rem ;
}
.card-icon .icon-wrapper img{
    vertical-align: middle;
}
.card-icon .icon-wrapper span{
    padding-left: .5rem;
    font-size: 1.1rem;
}

/******Casa******/

.casa-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.casa-img img{
    max-width:60rem;
}
.casa-wrapper:last-child{
    margin-top: 5rem;
}
.casa-texto{
    width: 50%;
    margin-top: 10rem;
}
.casa-texto h2{position: relative;}
.casa-texto h2::before{
    content: "";
    position: absolute;
    width: 5rem;
    height: 0.4rem;
    left: 2.4rem;
    transform: translateX(-50%);
    background-color: var(--azul-dark-1000);
    border-radius: 1rem;
}
.casa-texto p{
    margin-top: 3rem;
    font-size: 1.4rem;
}
.casa-venda {
    padding-bottom: 3rem;
}
.casa-venda span{
    font-size: 4rem;
    font-weight: bold;
}

/******Destaque******/
#destaque{
    background-color: var(--bg-color-3);
    padding:0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   
#destaque .destaque-wrapper h2,
#destaque .destaque-wrapper p{
    color: var(--branco);
    padding: 1rem 0;
}
#destaque .destaque-wrapper button{
    padding: 1.5rem 3.5rem;
    margin-top: 2rem;
    background-color: var(--branco);
    color: var(--azul-dark-1000);
}
#destaque .destaque-wrapper:last-child{
    width: 50%;
}
#destaque .destaque-wrapper:last-child img{
    object-fit:cover;
}

/*****Footer*****/
#rodape{
    margin-top: 10rem;
}
#rodape .container-fluido:first-child{
    display: flex;
    justify-content: space-between;
    flex:1 1 25rem;
    flex-wrap: wrap;
    gap: 2rem;
}
#rodape .container-fluido .rodape-wrapper h5{
    margin-bottom: 2rem;
    color: var(--azul-dark-900);
}
#rodape .container-fluido .rodape-wrapper a{
    font-size: 1.2rem;
}
#rodape .container-fluido .rodape-wrapper div{
    margin-top: 2rem;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    margin-top: 3rem;
    gap: 3rem;
    flex-wrap: wrap;
}
.copyright h3{
    color: var(--azul-dark-900);
}
.copyright p{
    font-size: 1.2rem;
}



/*MEDIA SCREEN*/

@media screen and (max-width:479px) {
    /*Container*/
    .container-fluido{
        width: 100%!important;
    }
}

@media screen and (max-width:765px){
    .container-fluido{
        max-width: 45rem!important;
    }

    
    .avaliacao,
    .compania-wrapper,
    .como-funciona-guia{
        flex-direction: column;
        gap: 5rem;
    }
    .avaliacao .avaliacao-wrapper,
    .avaliacao .avaliacao-wrapper:last-child{
        width: 100%;
    }

    /*Propriedades*/
    .propriedades-wrapper{
        align-items: flex-start;
        flex-direction: column;
        gap: 3rem;
    }
     
}



@media screen and (max-width:990px) {
    /*Container-fluido*/
    .container-fluido{
        max-width: 70rem;
    }

    /**********Header**********/
    .cabecalho-wrapper .navbar .menu{
        display: none!important;
    }

    .cabecalho-wrapper:last-child{
        flex-direction: column;
        gap: 5rem;
    }
    .cabecalho-wrapper .cabecalho-chamada{
        width: 100%!important;
        margin-top: 5rem;
    }
    .cabecalho-wrapper .cabecalho-img img{
        width: 100%!important;
    }

    /******Propriedades******/
    .propriedades-card{
        flex-wrap: wrap;
    }
    /**********Casa**********/
    .casa-wrapper{
        flex-direction: column;
    }
    .casa-img{
        max-width:100%!important;
        margin: 0 auto;
    }
    .casa-img img{
        width: 100%;
    }
    .casa-texto{
        width: 100%!important;
        margin: 0!important;
    }

    /*Destaque*/
    #destaque{
        flex-direction: column;
        gap: 5rem;
    } 
    #destaque .destaque-wrapper:last-child{
        width: 100%;
        margin-top: 5rem;
    }
    #destaque .destaque-wrapper:last-child img{
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    
    /*Container-fluido*/
    .container-fluido{
        width: 90rem;
    }

    /**********Header**********/
    .cabecalho-wrapper .cabecalho-chamada{
        width: 40%;
    }
    .cabecalho-wrapper .cabecalho-chamada h1{
        font-size: 3.5rem;
    }
    .cabecalho-wrapper .cabecalho-img img{
        width: 50rem;
    }

    /**********Casa**********/
    .casa-img img{
        max-width:50rem;
    }
    .casa-texto{
        width: 70%;
    }
    
}
